.wrapper-container-coefficient {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.coefficient {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 50%;
    background-color: rgb(25, 25, 36);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: 
     linear-gradient(to top right,transparent 85%,#2cac7b 0) top right/30px 30px no-repeat,
    rgb(25, 25, 36);;
    color: white;
    overflow: hidden;
}

.coefficient-down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 50%;
    background-color: rgb(25, 25, 36);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background:
     linear-gradient(to bottom right,transparent 85%,#8f1e1e 0) bottom right/30px 30px no-repeat,
   rgb(25, 25, 36);
    color: white;
    overflow: hidden;
}